aws_region      = "ap-northeast-1"
environment     = "prod"
container_image = "665192915466.dkr.ecr.ap-northeast-1.amazonaws.com/bank-ai-chat-app:latest"
certificate_arn = "arn:aws:acm:ap-northeast-1:665192915466:certificate/12345678-1234-1234-1234-123456789012"
